html {
  background-color: #f9f7ed;
  padding: 100px;
}

#container {
  max-width: 500px;
  height: 300px;
  margin: auto;
}


.links {
  max-width: 500px;
  margin: auto;
}

.links ul {
  list-style: none;
}

.links ul li {
  display: inline-block;
  margin-right: 30px;
}

.links i {
  font-size: 30px;
  padding: 0 20px;
  color: #ec5148;
}
